
{
    "presets": [
        ["env", {
            "targets": {
                "node": "8.9.1"
            }
        }],
        "stage-2"
    ],
    "plugins": [
        "istanbul",
        "add-module-exports",
        "transform-runtime",
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}
    