
{
    "report-dir": "./coverage",
    "reporter": [
        "html",
        "lcov"
    ],
    "clean": true,
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "spec/**/*.spec.js"
    ],
    "require": [
        "babel-register"
    ],
    "sourceMap": false,
    "instrument": true,
    "all": true
}
    